* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* styling/ colors for icons, background in social bar  */
#social {
  background-color: #000000;
  color: white;
  display: flex; /* moves "children" inline*/
  justify-content: space-between; /*spaces "children"*/
  align-items: center;
  padding: 10px 10%;
}

.social-contact {
  display: flex;
}

.social-contact p {
  margin-right: 20px;
}

body {
  font-family: sans-serif;
}
